@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #EAEEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #0187C4;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.navbar a:hover {
  color: #0187C4;
}

.container {
  width: 90%;
  max-width: 900px;
  background: #fff;
  margin-top: 30px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  border: none;
  border-bottom: 1px solid #0187C4;
  padding: 6px;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.btn{
  margin-left: auto;
  padding: 11px 20px;
  background: #0187C4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  transition: .2s ease;
}

.btn:hover {
  background: #016da0;
}

/* Responsive */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
